/* Estilos Generales */

.padre {
    background-color: lightblue;
}

.hijo {
    background-color: lightskyblue;
    border: solid 1px blue;
}

#productos div,
#servicios div {
    border: solid 1px;
    padding: 5px;
    background-color: bisque;
}

.border {
    border: 1px solid black;
}


/* GRIDS */

.padre {
    display: grid;
    /*grid-template-columns: 300px 100px 170px;
    grid-template-rows: 40px 100px;*/
    /*grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;*/
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

section #productos {
    grid-area: productos;
}

section #servicios {
    grid-area: servicios;
}

#panel {
    grid-area: panel;
}

aside {
    grid-area: publicidad;
}

#grilla {
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 1fr 75px;
    column-gap: 15px;
    row-gap: 20px;
    grid-template-areas: "panel header header" "panel productos publicidad" "panel servicios publicidad" "panel footer footer";
}

#productos,
#servicios {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#productos {
    /* Valores: start, end, center, stretch (por defecto) */
    justify-items: stretch;
    align-items: stretch;
    /* Valores: start, end, center, space-between, space-around, space-evenly, stretch (por defecto) */
    justify-content: stretch;
    align-content: stretch;
}

#servicios {
    height: 250px;
    justify-items: stretch;
    align-items: stretch;
}

.item {
    background-color: rgb(109, 217, 211) !important;
    /* Valores: start, end, center, stretch (por defecto) */
    justify-self: end;
    align-self: start;
}

header div {
    background-color: rgb(109, 217, 211);
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}